# Code

In [128]:
import json
import re
import os
import pandas as pd

from typing import Union, List

def firestore_to_json(value_dict):
    if not isinstance(value_dict, dict):
        return value_dict

    for key, value in value_dict.items():
        if key == "stringValue":
            return value
        elif key == "integerValue":
            return int(value)
        elif key == "doubleValue":
            return float(value)
        elif key == "booleanValue":
            return value
        elif key == "nullValue":
            return None
        elif key == "timestampValue":
            return value
        elif key == "mapValue":
            if "fields" in value:
                 return {f_key: firestore_to_json(f_val) for f_key, f_val in value["fields"].items()}
            else:
                 return {}
        elif key == "arrayValue":
            if "values" in value:
                return [firestore_to_json(item) for item in value["values"]]
            else:
                return []
        else:
            return {key: value}
    return None


def rename_df(df : pd.DataFrame) -> pd.DataFrame:
    columns = df.columns.tolist()
    if "price_out" in columns:
        df = df.rename(columns={'price_out': 'Price'})
    if "format" in columns:
        df = df.rename(columns={'format': 'Volume'})
    for c in columns:
        df = df.rename(columns={c: c.capitalize()})
    return df


def display_top(df: pd.DataFrame, n=20) -> pd.DataFrame:
    out = df.copy()
    out = out.reset_index(drop=True)
    out.index.name = "Rank"
    out.index = out.index + 1
    return out.head(n)


def parse(filename: str, columns_to_keep: List[str]) -> Union[pd.DataFrame, None]:
    with open(filename, 'r', encoding="utf-8") as file:
        content = file.read()
    
    match = re.search(r'\[2,\s*\[\s*(\{.*?\})\s*\]\s*\]', content, re.DOTALL)

    if match:
        json_part_string = match.group(1)
        try:
            data = json.loads(json_part_string)

            articles_firestore_map = data.get("documentChange", {}) \
                                        .get("document", {}) \
                                        .get("fields", {}) \
                                        .get("articles", {}) \
                                        .get("mapValue", {}) \
                                        .get("fields", {})

            simplified_articles = {}

            for article_id, article_data in articles_firestore_map.items():
                if "mapValue" in article_data and "fields" in article_data["mapValue"]:
                    simplified_article_fields = {}
                    for field_name, field_value_dict in article_data["mapValue"]["fields"].items():
                        simplified_article_fields[field_name] = firestore_to_json(field_value_dict)
                    simplified_articles[article_id] = simplified_article_fields

            final_json_output = json.dumps(simplified_articles, indent=2, ensure_ascii=False)
            df = pd.DataFrame(simplified_articles).T
            df = df[df['article_type'] == 1]
            df = df.reindex(columns=columns_to_keep)
            df = rename_df(df)
            df = df.reset_index(drop=True)
            with open(f"db/{filename.split('.')[0].split('/')[-1]}.json", "w", encoding="utf-8") as out:
                out.write(final_json_output)

            return df

        except json.JSONDecodeError as e:
            print(f"Error decoding JSON part: {e}")
        except KeyError as e:
            print(f"Error navigating the data structure, missing key: {e}")
        except Exception as e:
            print(f"An unexpected error occurred: {e}")

    else:
        print("Could not find the relevant data structure '[2, [{...}]]' in the input string.")


def create_dir_if_absent(dir: str) -> None:
    if not os.path.exists(dir):
        os.makedirs(dir)


YEAR = "2025-2026-Q1"
df = parse(f"db/raw/{YEAR}.txt", ['name', 'price_out', 'format', 'type', 'degree', 'available'])

df = df[df["Available"] == True]
df["Ratio"] = (df['Degree'] * df['Volume']) / df['Price']

df = df.sort_values(by=["Ratio", "Price", "Volume"], ascending=[False, True, False])
df = df.reset_index(drop=True)
df.index.name = "Rank"
df.index = df.index + 1

create_dir_if_absent(f"csv/{YEAR}")
df.to_csv(f"csv/{YEAR}/ranker.csv")

# Top 20, any type of beer

In [129]:
display_top(df[df["Volume"] < 75])

,Name,Price,Volume,Type,Degree,Available,Ratio
Rank,,,,,,,
1,Kerel Kaishaku Fût,2.5,25,Blonde,15,True,150.0
2,Kerel Kaishaku,3.5,33,Blonde,15,True,141.428571
3,Kasteel triple,2.6,33,Blonde,11,True,139.615385
4,Bush 10,2.5,33,Blonde,10.5,True,138.6
5,Piraat,2.5,33,Ambrée,10.5,True,138.6
6,Bush 12 Fût,2.2,25,Ambrée,12,True,136.363636
7,Chimay rouge,2.2,33,Trappiste,9,True,135.0
8,Corne du bois des pendus quadruple,3,33,Ambrée,12,True,132.0
9,Queue de charrue triple,2.3,33,Blonde,9,True,129.130435
10,Gulden Draak,2.8,33,Brune,10.7,True,126.107143
11,Westmalle triple,2.5,33,Trappiste,9.5,True,125.4
12,Kasteel donker,2.9,33,Brune,11,True,125.172414
13,Peak grand cru,2.8,33,Brune,10.5,True,123.75
14,Rochefort triple extra,2.4,33,Trappiste,9,True,123.75
15,Black albert,3.5,33,Brune,13,True,122.571429
16,Rochefort 10,3.1,33,Trappiste,11.3,True,120.290323
17,Gulden Draak 9000,2.9,33,Ambrée,10.5,True,119.482759
18,Corne du bois des pendus 10 triple,2.8,33,Blonde,10,True,117.857143
19,Straffe Hendrik quadrupel,3.1,33,Brune,11,True,117.096774
20,Duvel,2.4,33,Blonde,8.5,True,116.875

# Top 20, blonde beers

In [130]:
blonde_beers = display_top(df[(df["Type"] == "Blonde") & (df["Volume"] < 75)])
blonde_beers.to_csv(f"csv/{YEAR}/blonde_ranker.csv")
blonde_beers

,Name,Price,Volume,Type,Degree,Available,Ratio
Rank,,,,,,,
1,Kerel Kaishaku Fût,2.5,25,Blonde,15,True,150.0
2,Kerel Kaishaku,3.5,33,Blonde,15,True,141.428571
3,Kasteel triple,2.6,33,Blonde,11,True,139.615385
4,Bush 10,2.5,33,Blonde,10.5,True,138.6
5,Queue de charrue triple,2.3,33,Blonde,9,True,129.130435
6,Corne du bois des pendus 10 triple,2.8,33,Blonde,10,True,117.857143
7,Duvel,2.4,33,Blonde,8.5,True,116.875
8,Triple plaisir (la),2.3,33,Blonde,8,True,114.782609
9,Carolus triple d'or,2.6,33,Blonde,9,True,114.230769
10,Jupiler Fût,1.2,25,Blonde,5.4,True,112.5
11,Filou,2.5,33,Blonde,8.5,True,112.2
12,Bertinchamps triple Fût,1.8,25,Blonde,8,True,111.111111
13,Cuvée des trolls,2.1,33,Blonde,7,True,110.0
14,Malheur 10,3,33,Blonde,10,True,110.0
15,Goliath triple,2.7,33,Blonde,9,True,110.0
16,To touille,2.7,33,Blonde,9,True,110.0
17,Moinette blonde,2.6,33,Blonde,8.5,True,107.884615
18,lupulus organicus,2.6,33,Blonde,8.5,True,107.884615
19,Saison Dupont,2,33,Blonde,6.5,True,107.25
20,Lupulus blonde Fût,2,25,Blonde,8.5,True,106.25

# Top 20, ambrées

In [131]:
amber_beers = display_top(df[(df["Type"] == "Ambrée") & (df["Volume"] < 75)])
amber_beers.to_csv(f"csv/{YEAR}/amber_ranker.csv")
amber_beers

,Name,Price,Volume,Type,Degree,Available,Ratio
Rank,,,,,,,
1,Piraat,2.5,33,Ambrée,10.5,True,138.6
2,Bush 12 Fût,2.2,25,Ambrée,12,True,136.363636
3,Corne du bois des pendus quadruple,3,33,Ambrée,12,True,132.0
4,Gulden Draak 9000,2.9,33,Ambrée,10.5,True,119.482759
5,Maredsous 10,3.1,33,Ambrée,10,True,106.451613
6,Bon secours heritage,2.5,33,Ambrée,8,True,105.6
7,Troubadour magma,2.9,33,Ambrée,9,True,102.413793
8,Carolus ambrio,2.6,33,Ambrée,8,True,101.538462
9,Quintine ambrée,2.9,33,Ambrée,8.5,True,96.724138
10,Satan red,2.8,33,Ambrée,8,True,94.285714
11,Divine (la),3,33,Ambrée,8.5,True,93.5
12,Kwak,3.1,33,Ambrée,8.4,True,89.419355
13,St Hubertus Ambrée,2.8,33,Ambrée,7.2,True,84.857143
14,Fumette (la),2.6,33,Ambrée,6.5,True,82.5
15,Caracole,3,33,Ambrée,7.5,True,82.5
16,St Hubertus Ambrée Fût,2.2,25,Ambrée,7.2,True,81.818182
17,Gauloise ambrée,2.3,33,Ambrée,5.6,True,80.347826
18,Delirium argentum,2.9,33,Ambrée,7,True,79.655172
19,Philomène hoptimale,3,33,Ambrée,7.2,True,79.2
20,Queue de charrue ambrée,2.4,33,Ambrée,5.6,True,77.0

# Top trappistes

In [132]:
trapist_beers = display_top(df[(df["Type"] == "Trappiste") & (df["Volume"] < 75)])
trapist_beers.to_csv(f"csv/{YEAR}/trapist_ranker.csv")
trapist_beers

,Name,Price,Volume,Type,Degree,Available,Ratio
Rank,,,,,,,
1,Chimay rouge,2.2,33,Trappiste,9,True,135.0
2,Westmalle triple,2.5,33,Trappiste,9.5,True,125.4
3,Rochefort triple extra,2.4,33,Trappiste,9,True,123.75
4,Rochefort 10,3.1,33,Trappiste,11.3,True,120.290323
5,Rochefort 8,2.7,33,Trappiste,9.2,True,112.444444
6,Chimay blanche,2.4,33,Trappiste,8,True,110.0
7,Chimay bleue,3,33,Trappiste,9,True,99.0
8,Rochefort 6,2.6,33,Trappiste,7.5,True,95.192308
9,Chimay Verte (150),3.5,33,Trappiste,10,True,94.285714
10,Westmalle double,2.7,33,Trappiste,7,True,85.555556
11,Westmalle extra,2.1,33,Trappiste,4.8,True,75.428571
12,Orval,3,33,Trappiste,6.2,True,68.2
13,Chimay dorée,2.7,33,Trappiste,4.8,True,58.666667

# Top 20, brunes

In [133]:
brown_beers = display_top(df[(df["Type"] == "Brune") & (df["Volume"] < 75)])
brown_beers.to_csv(f"csv/{YEAR}/brown_ranker.csv")
brown_beers

,Name,Price,Volume,Type,Degree,Available,Ratio
Rank,,,,,,,
1,Gulden Draak,2.8,33,Brune,10.7,True,126.107143
2,Kasteel donker,2.9,33,Brune,11,True,125.172414
3,Peak grand cru,2.8,33,Brune,10.5,True,123.75
4,Black albert,3.5,33,Brune,13,True,122.571429
5,Straffe Hendrik quadrupel,3.1,33,Brune,11,True,117.096774
6,Moinette brune,2.4,33,Brune,8.5,True,116.875
7,Malheur 12,3.4,33,Brune,12,True,116.470588
8,Saint Bernardus Prior 8,2.3,33,Brune,8,True,114.782609
9,Gauloise brune,2.4,33,Brune,8.1,True,111.375
10,Mc Chouffe,2.4,33,Brune,8,True,110.0
11,Saint Bernardus Abr 12,3,33,Brune,10,True,110.0
12,Delirium nocturnum,2.6,33,Brune,8.5,True,107.884615
13,Carolus classic,2.6,33,Brune,8.5,True,107.884615
14,Chatte noire (la),2.8,33,Brune,9,True,106.071429
15,Floreffe prima melior,2.5,33,Brune,8,True,105.6
16,Val Dieu grand cru,3.3,33,Brune,10.5,True,105.0
17,Charles Quint rouge rubis,2.7,33,Brune,8.5,True,103.888889
18,Barbar Bok,2.7,33,Brune,8.5,True,103.888889
19,Nostradamus,3.2,33,Brune,9.9,True,102.09375
20,Val Dieu brune,2.6,33,Brune,8,True,101.538462

# Top 20, fruitées

In [134]:
fruit_beers = display_top(df[(df["Type"] == "Fruitée") & (df["Volume"] < 75)])
fruit_beers.to_csv(f"csv/{YEAR}/fruit_ranker.csv")
fruit_beers

,Name,Price,Volume,Type,Degree,Available,Ratio
Rank,,,,,,,
1,Queue de charrue rouge,2.7,33,Fruitée,8.7,True,106.333333
2,Gauloise fruits rouges,2.6,33,Fruitée,8.2,True,104.076923
3,Frambush,2.8,33,Fruitée,8.5,True,100.178571
4,Pêche Mel Bush Fût,2,25,Fruitée,8,True,100.0
5,Chouffe cherry Fût,2,25,Fruitée,8,True,100.0
6,Delirium red Fût,2,25,Fruitée,8,True,100.0
7,Val dieu fruitee,3.2,33,Fruitée,9,True,92.8125
8,Barbar Rouge,2.9,33,Fruitée,8,True,91.034483
9,Kasteel red Fût,2.2,25,Fruitée,8,True,90.909091
10,Tête de mort red,3,33,Fruitée,8.2,True,90.2
11,Lindemans tarot noir,2.4,25,Fruitée,8,True,83.333333
12,Bon secours myrtille,2.8,33,Fruitée,7,True,82.5
13,Lindemans tarot d'or Fût,2.5,25,Fruitée,8,True,80.0
14,Kasteel rubus Fût,2.2,25,Fruitée,7,True,79.545455
15,Gembloux fruitée dans les bois,2.7,33,Fruitée,6.5,True,79.444444
16,Waterloo Cherry,2.5,33,Fruitée,6,True,79.2
17,Kasteel tropicale,3,33,Fruitée,7,True,77.0
18,Fagnes blood orange,3,33,Fruitée,7,True,77.0
19,Kasteel rubus,3,33,Fruitée,7,True,77.0
20,Lindemans tarot d'or,2.6,25,Fruitée,8,True,76.923077

# Top blanches

In [135]:
white_beers = display_top(df[(df["Type"] == "Blanche") & (df["Volume"] < 75)])
white_beers.to_csv(f"csv/{YEAR}/white_ranker.csv")
white_beers

,Name,Price,Volume,Type,Degree,Available,Ratio
Rank,,,,,,,
1,Bon secours prestige,2.8,33,Blanche,9,True,106.071429
2,St Hubertus Blanche Fût,2,25,Blanche,7.2,True,90.0
3,Chouffe blanche,2.2,33,Blanche,6,True,90.0
4,Blanche de Bruxelles,2,33,Blanche,4.5,True,74.25
5,St bernardus witbier,2.5,33,Blanche,5.5,True,72.6
6,Boriner vice,2.9,33,Blanche,6,True,68.275862
7,Blanche de Namur,1.8,25,Blanche,4.5,True,62.5
8,Troublette,3,33,Blanche,5.6,True,61.6

# Top 75cl

In [136]:
big = display_top(df[df["Volume"]  == 75])
big.to_csv(f"csv/{YEAR}/75cl_ranker.csv")
big

,Name,Price,Volume,Type,Degree,Available,Ratio
Rank,,,,,,,
1,Bush 12,7,75,Ambrée,12,True,128.571429
2,Moinette brune,5,75,Brune,8.5,True,127.5
3,Lupulus Hibernatus,5.7,75,Brune,9,True,118.421053
4,Lupulus blonde,5.5,75,Blonde,8.5,True,115.909091
5,Lupulus brune,5.7,75,Brune,8.5,True,111.842105
6,Binchoise brune,5.3,75,Brune,7.7,True,108.962264
7,Chimay Blanche (Cinq Cents),5.6,75,Trappiste,8,True,107.142857
8,Moinette blonde,6,75,Blonde,8.5,True,106.25
9,Lupulus Organicus,6,75,Blonde,8.5,True,106.25
10,Westmalle triple,7.2,75,Trappiste,9.5,True,98.958333
11,Val Dieu grand cru,8,75,Brune,10.5,True,98.4375
12,Li crochon brune,6.7,75,Brune,8.7,True,97.38806
13,Chouffe,6.2,75,Blonde,8,True,96.774194
14,Val Dieu Triple,7,75,Blonde,9,True,96.428571
15,Chimay grande reserve (bleue),7,75,Trappiste,9,True,96.428571
16,Gauloise blonde,5,75,Blonde,6.3,True,94.5
17,Houppe,6,75,Blonde,7.5,True,93.75
18,houppe,6,75,Blonde,7.5,True,93.75
19,Fagnes blonde,6,75,Blonde,7.5,True,93.75
20,Li crochon blonde,5.5,75,Blonde,6.8,True,92.727273

# Top 50 du rat (à plus que 5° quand même (big up à Hunter))

In [137]:
rat = display_top(df[(df["Degree"] >= 5) & (df["Volume"] < 75) & (df["Price"] <= 2.5)], n=50)
rat = rat.sort_values(by=["Ratio", "Volume"], ascending=[False, True])
rat

,Name,Price,Volume,Type,Degree,Available,Ratio
Rank,,,,,,,
1,Kerel Kaishaku Fût,2.5,25,Blonde,15,True,150.0
2,Bush 10,2.5,33,Blonde,10.5,True,138.6
3,Piraat,2.5,33,Ambrée,10.5,True,138.6
4,Bush 12 Fût,2.2,25,Ambrée,12,True,136.363636
5,Chimay rouge,2.2,33,Trappiste,9,True,135.0
6,Queue de charrue triple,2.3,33,Blonde,9,True,129.130435
7,Westmalle triple,2.5,33,Trappiste,9.5,True,125.4
8,Rochefort triple extra,2.4,33,Trappiste,9,True,123.75
9,Duvel,2.4,33,Blonde,8.5,True,116.875
10,Moinette brune,2.4,33,Brune,8.5,True,116.875
11,Saint Bernardus Prior 8,2.3,33,Brune,8,True,114.782609
12,Triple plaisir (la),2.3,33,Blonde,8,True,114.782609
13,Jupiler Fût,1.2,25,Blonde,5.4,True,112.5
14,Filou,2.5,33,Blonde,8.5,True,112.2
15,Gauloise brune,2.4,33,Brune,8.1,True,111.375
16,Bertinchamps triple Fût,1.8,25,Blonde,8,True,111.111111
17,Cuvée des trolls,2.1,33,Blonde,7,True,110.0
18,Chimay blanche,2.4,33,Trappiste,8,True,110.0
19,Mc Chouffe,2.4,33,Brune,8,True,110.0
20,Saison Dupont,2,33,Blonde,6.5,True,107.25
21,Lupulus blonde Fût,2,25,Blonde,8.5,True,106.25
22,Floreffe prima melior,2.5,33,Brune,8,True,105.6
23,Tripick blonde,2.5,33,Blonde,8,True,105.6
24,Chouffe,2.5,33,Blonde,8,True,105.6
25,Bon secours heritage,2.5,33,Ambrée,8,True,105.6
26,Beer Lambert,2.5,33,Blonde,8,True,105.6
27,Omer,2.5,33,Blonde,8,True,105.6
28,Tête de mort Fût,2,25,Blonde,8.1,True,101.25
29,Triple moine,2.4,33,Blonde,7.3,True,100.375
30,Pêche Mel Bush Fût,2,25,Fruitée,8,True,100.0
31,Delirium Tremens Fût,2,25,Blonde,8,True,100.0
32,Chouffe cherry Fût,2,25,Fruitée,8,True,100.0
33,Paranoia Fût,2,25,Blonde,8,True,100.0
34,Delirium red Fût,2,25,Fruitée,8,True,100.0
35,Gauloise blonde,2.1,33,Blonde,6.3,True,99.0
36,Saint Idesbald blonde,2.2,33,Blonde,6.5,True,97.5
37,Floreffe blonde,2.2,33,Blonde,6.3,True,94.5
38,xx-Bitter,2.1,33,Blonde,6,True,94.285714
39,Tongerlo brune nox,2.4,33,Brune,6.7,True,92.125
40,Kasteel red Fût,2.2,25,Fruitée,8,True,90.909091
41,St Hubertus Blanche Fût,2,25,Blanche,7.2,True,90.0
42,Chouffe blanche,2.2,33,Blanche,6,True,90.0
43,Goliath blonde,2.2,33,Blonde,6,True,90.0
44,Harmony,2.2,33,Blonde,6,True,90.0
45,Cuvée des trolls Fût,2,25,Blonde,7,True,87.5
46,Gouyasse,2.3,33,Blonde,6,True,86.086957
47,Vraie bière (la),2.3,33,Blonde,6,True,86.086957
48,Vedette IPA,2.3,33,Blonde,6,True,86.086957
49,Li crochon blonde,2,25,Blonde,6.8,True,85.0
50,Rulles triple fût,2.5,25,Blonde,8.4,True,84.0