# Code

In [1]:
import json
import re
import os
import pandas as pd
import asyncio

from subprocess import run
from utils.download import capture_firestore_responses
from utils.parser import parse

YEAR = "2025-2026-Q1"

def display_top(df: pd.DataFrame, filename=None) -> pd.DataFrame:
    out = df.copy()
    out = out.reset_index(drop=True)
    out.index.name = "Rank"
    out.index = out.index + 1
    if filename is not None:
        out.to_csv(f"csv/{YEAR}/{filename}_ranker.csv")
    return out


def create_dir_if_absent(dir: str) -> None:
    if not os.path.exists(dir):
        os.makedirs(dir)


await capture_firestore_responses(output_file=f"db/raw/{YEAR}.txt")
df = parse(f"db/raw/{YEAR}.txt", ['name', 'price_out', 'format', 'degree', 'type', 'available'])

df = df[df["Available"] == True]
df["Ratio"] = (df['Degree'] * df['Volume']) / df['Price']
df = df.drop(columns=["Available"])

df = df.sort_values(by=["Ratio", "Price", "Volume"], ascending=[False, True, False])
df = df.reset_index(drop=True)
df.index.name = "Rank"
df.index = df.index + 1

create_dir_if_absent(f"csv/{YEAR}")
df.to_csv(f"csv/{YEAR}/ranker.csv")
run(["jupyter", "nbconvert", "--to=pdf", "notebook.ipynb", "--output", "top.pdf"], check=True)
# avg time for processing this cell : ~2min

Navigating to https://quinzaine.org...
Intercepting response from: https://firestore.googleapis.com/google.firestore.v1.Firestore/Listen/channel?VER=8&database=projects%2Fquinzaine-3fb2e%2Fdatabases%2F(default)&RID=50211&CVER=22&X-HTTP-Session-Id=gsessionid&zx=pe4c8j4yo0aj&t=1 (Status: 200)
Captured response body chunk (length: 54).
Intercepting response from: https://firestore.googleapis.com/google.firestore.v1.Firestore/Listen/channel?gsessionid=E74L3YzCcW_6na2t2M7ReGlofBRG-HTVCrYubF1lRrw&VER=8&database=projects%2Fquinzaine-3fb2e%2Fdatabases%2F(default)&RID=rpc&SID=jXVuujiXrQ8u4mOw0ZIojQ&AID=0&CI=0&TYPE=xmlhttp&zx=qqifgaete8o7&t=1 (Status: 200)
Intercepting response from: https://firestore.googleapis.com/google.firestore.v1.Firestore/Listen/channel?VER=8&database=projects%2Fquinzaine-3fb2e%2Fdatabases%2F(default)&gsessionid=E74L3YzCcW_6na2t2M7ReGlofBRG-HTVCrYubF1lRrw&SID=jXVuujiXrQ8u4mOw0ZIojQ&RID=50212&AID=5&zx=bobd2gj9eyh3&t=1 (Status: 200)
Captured response body chunk (length: 10).
Captured response body chunk (length: 633560).
Intercepting response from: https://firestore.googleapis.com/google.firestore.v1.Firestore/Listen/channel?gsessionid=E74L3YzCcW_6na2t2M7ReGlofBRG-HTVCrYubF1lRrw&VER=8&database=projects%2Fquinzaine-3fb2e%2Fdatabases%2F(default)&RID=rpc&SID=jXVuujiXrQ8u4mOw0ZIojQ&AID=8&CI=0&TYPE=xmlhttp&zx=vvrlg2u3xn6y&t=1 (Status: 200)
Intercepting response from: https://firestore.googleapis.com/google.firestore.v1.Firestore/Listen/channel?VER=8&database=projects%2Fquinzaine-3fb2e%2Fdatabases%2F(default)&gsessionid=E74L3YzCcW_6na2t2M7ReGlofBRG-HTVCrYubF1lRrw&SID=jXVuujiXrQ8u4mOw0ZIojQ&RID=50213&TYPE=terminate&zx=v11rfzd67fl9 (Status: 200)
Response body was empty.
Captured response body chunk (length: 17).
Initial navigation complete. Waiting a bit longer for potential stream data...
Browser closed.

Captured 4 response body chunks.
Captured Firestore response bodies saved to db/raw/2025-2026-Q1.txt

[NbConvertApp] Converting notebook notebook.ipynb to pdf
[NbConvertApp] Writing 51814 bytes to notebook.tex
[NbConvertApp] Building PDF
[NbConvertApp] Running xelatex 3 times: ['xelatex', 'notebook.tex', '-quiet']
[NbConvertApp] Running bibtex 1 time: ['bibtex', 'notebook']
[NbConvertApp] WARNING | bibtex had problems, most likely because there were no citations
[NbConvertApp] PDF successfully created
[NbConvertApp] Writing 53661 bytes to top.pdf

CompletedProcess(args=['jupyter', 'nbconvert', '--to=pdf', 'notebook.ipynb', '--output', 'top.pdf'], returncode=0)

# Top 20, any type of beer

In [2]:
display_top(df[df["Volume"] < 75]).head(20)

,Name,Price,Volume,Degree,Type,Ratio
Rank,,,,,,
1,Kerel Kaishaku Fût,2.5,25,15,Blonde,150.0
2,Kerel Kaishaku,3.5,33,15,Blonde,141.428571
3,Kasteel triple,2.6,33,11,Blonde,139.615385
4,Bush 10,2.5,33,10.5,Blonde,138.6
5,Piraat,2.5,33,10.5,Ambrée,138.6
6,Bush 12 Fût,2.2,25,12,Ambrée,136.363636
7,Chimay rouge,2.2,33,9,Trappiste,135.0
8,Corne du bois des pendus quadruple,3,33,12,Ambrée,132.0
9,Queue de charrue triple,2.3,33,9,Blonde,129.130435
10,Gulden Draak,2.8,33,10.7,Brune,126.107143
11,Westmalle triple,2.5,33,9.5,Trappiste,125.4
12,Kasteel donker,2.9,33,11,Brune,125.172414
13,Peak grand cru,2.8,33,10.5,Brune,123.75
14,Rochefort triple extra,2.4,33,9,Trappiste,123.75
15,Black albert,3.5,33,13,Brune,122.571429
16,Rochefort 10,3.1,33,11.3,Trappiste,120.290323
17,Gulden Draak 9000,2.9,33,10.5,Ambrée,119.482759
18,Corne du bois des pendus 10 triple,2.8,33,10,Blonde,117.857143
19,Straffe Hendrik quadrupel,3.1,33,11,Brune,117.096774
20,Duvel,2.4,33,8.5,Blonde,116.875

# Top 20, blonde beers

In [3]:
display_top(df[(df["Type"] == "Blonde") & (df["Volume"] < 75)], filename="blonde").head(20)

,Name,Price,Volume,Degree,Type,Ratio
Rank,,,,,,
1,Kerel Kaishaku Fût,2.5,25,15,Blonde,150.0
2,Kerel Kaishaku,3.5,33,15,Blonde,141.428571
3,Kasteel triple,2.6,33,11,Blonde,139.615385
4,Bush 10,2.5,33,10.5,Blonde,138.6
5,Queue de charrue triple,2.3,33,9,Blonde,129.130435
6,Corne du bois des pendus 10 triple,2.8,33,10,Blonde,117.857143
7,Duvel,2.4,33,8.5,Blonde,116.875
8,Triple plaisir (la),2.3,33,8,Blonde,114.782609
9,Carolus triple d'or,2.6,33,9,Blonde,114.230769
10,Jupiler Fût,1.2,25,5.4,Blonde,112.5
11,Filou,2.5,33,8.5,Blonde,112.2
12,Bertinchamps triple Fût,1.8,25,8,Blonde,111.111111
13,Cuvée des trolls,2.1,33,7,Blonde,110.0
14,Malheur 10,3,33,10,Blonde,110.0
15,To touille,2.7,33,9,Blonde,110.0
16,Goliath triple,2.7,33,9,Blonde,110.0
17,Moinette blonde,2.6,33,8.5,Blonde,107.884615
18,lupulus organicus,2.6,33,8.5,Blonde,107.884615
19,Saison Dupont,2,33,6.5,Blonde,107.25
20,Lupulus blonde Fût,2,25,8.5,Blonde,106.25

# Top 20, ambrées

In [4]:
display_top(df[(df["Type"] == "Ambrée") & (df["Volume"] < 75)], filename="amber").head(20)

,Name,Price,Volume,Degree,Type,Ratio
Rank,,,,,,
1,Piraat,2.5,33,10.5,Ambrée,138.6
2,Bush 12 Fût,2.2,25,12,Ambrée,136.363636
3,Corne du bois des pendus quadruple,3,33,12,Ambrée,132.0
4,Gulden Draak 9000,2.9,33,10.5,Ambrée,119.482759
5,Maredsous 10,3.1,33,10,Ambrée,106.451613
6,Bon secours heritage,2.5,33,8,Ambrée,105.6
7,Troubadour magma,2.9,33,9,Ambrée,102.413793
8,Carolus ambrio,2.6,33,8,Ambrée,101.538462
9,Quintine ambrée,2.9,33,8.5,Ambrée,96.724138
10,Satan red,2.8,33,8,Ambrée,94.285714
11,Divine (la),3,33,8.5,Ambrée,93.5
12,Kwak,3.1,33,8.4,Ambrée,89.419355
13,St Hubertus Ambrée,2.8,33,7.2,Ambrée,84.857143
14,Fumette (la),2.6,33,6.5,Ambrée,82.5
15,Caracole,3,33,7.5,Ambrée,82.5
16,St Hubertus Ambrée Fût,2.2,25,7.2,Ambrée,81.818182
17,Gauloise ambrée,2.3,33,5.6,Ambrée,80.347826
18,Delirium argentum,2.9,33,7,Ambrée,79.655172
19,Philomène hoptimale,3,33,7.2,Ambrée,79.2
20,Queue de charrue ambrée,2.4,33,5.6,Ambrée,77.0

# Top trappistes

In [5]:
display_top(df[(df["Type"] == "Trappiste") & (df["Volume"] < 75)], filename="trapist")

                         Name Price Volume Degree       Type       Ratio
Rank
1                Chimay rouge   2.2     33      9  Trappiste       135.0
2            Westmalle triple   2.5     33    9.5  Trappiste       125.4
3     Rochefort triple extra    2.4     33      9  Trappiste      123.75
4                Rochefort 10   3.1     33   11.3  Trappiste  120.290323
5                 Rochefort 8   2.7     33    9.2  Trappiste  112.444444
6              Chimay blanche   2.4     33      8  Trappiste       110.0
7                Chimay bleue     3     33      9  Trappiste        99.0
8                 Rochefort 6   2.6     33    7.5  Trappiste   95.192308
9          Chimay Verte (150)   3.5     33     10  Trappiste   94.285714
10           Westmalle double   2.7     33      7  Trappiste   85.555556
11            Westmalle extra   2.1     33    4.8  Trappiste   75.428571
12                      Orval     3     33    6.2  Trappiste        68.2
13               Chimay dorée   2.7     33    4.8  Trappiste   58.666667

# Top 20, brunes

In [6]:
brown_beers = display_top(df[(df["Type"] == "Brune") & (df["Volume"] < 75)], filename="brown").head(20)

# Top 20, fruitées

In [7]:
display_top(df[(df["Type"] == "Fruitée") & (df["Volume"] < 75)], filename="fruit").head(20)

                                Name Price Volume Degree     Type       Ratio
Rank
1             Queue de charrue rouge   2.7     33    8.7  Fruitée  106.333333
2             Gauloise fruits rouges   2.6     33    8.2  Fruitée  104.076923
3                           Frambush   2.8     33    8.5  Fruitée  100.178571
4                 Chouffe cherry Fût     2     25      8  Fruitée       100.0
5                 Pêche Mel Bush Fût     2     25      8  Fruitée       100.0
6                   Delirium red Fût     2     25      8  Fruitée       100.0
7                   Val dieu fruitee   3.2     33      9  Fruitée     92.8125
8                       Barbar Rouge   2.9     33      8  Fruitée   91.034483
9                    Kasteel red Fût   2.2     25      8  Fruitée   90.909091
10                 Tête de mort red      3     33    8.2  Fruitée        90.2
11              Lindemans tarot noir   2.4     25      8  Fruitée   83.333333
12              Bon secours myrtille   2.8     33      7  Fruitée        82.5
13          Lindemans tarot d'or Fût   2.5     25      8  Fruitée        80.0
14                 Kasteel rubus Fût   2.2     25      7  Fruitée   79.545455
15    Gembloux fruitée dans les bois   2.7     33    6.5  Fruitée   79.444444
16                   Waterloo Cherry   2.5     33      6  Fruitée        79.2
17                Kasteel tropicale      3     33      7  Fruitée        77.0
18               Fagnes blood orange     3     33      7  Fruitée        77.0
19                     Kasteel rubus     3     33      7  Fruitée        77.0
20              Lindemans tarot d'or   2.6     25      8  Fruitée   76.923077

# Top blanches

In [8]:
display_top(df[(df["Type"] == "Blanche") & (df["Volume"] < 75)], filename="white")

                         Name Price Volume Degree     Type       Ratio
Rank
1        Bon secours prestige   2.8     33      9  Blanche  106.071429
2     St Hubertus Blanche Fût     2     25    7.2  Blanche        90.0
3             Chouffe blanche   2.2     33      6  Blanche        90.0
4        Blanche de Bruxelles     2     33    4.5  Blanche       74.25
5        St bernardus witbier   2.5     33    5.5  Blanche        72.6
6               Boriner vice    2.9     33      6  Blanche   68.275862
7            Blanche de Namur   1.8     25    4.5  Blanche        62.5
8                  Troublette     3     33    5.6  Blanche        61.6

# Top 20, 75cl

In [9]:
display_top(df[df["Volume"]  == 75], filename="75cl").head(20)

                               Name Price Volume Degree       Type       Ratio
Rank
1                           Bush 12     7     75     12     Ambrée  128.571429
2                    Moinette brune     5     75    8.5      Brune       127.5
3                Lupulus Hibernatus   5.7     75      9      Brune  118.421053
4                    Lupulus blonde   5.5     75    8.5     Blonde  115.909091
5                     Lupulus brune   5.7     75    8.5      Brune  111.842105
6                   Binchoise brune   5.3     75    7.7      Brune  108.962264
7       Chimay Blanche (Cinq Cents)   5.6     75      8  Trappiste  107.142857
8                 Lupulus Organicus     6     75    8.5     Blonde      106.25
9                   Moinette blonde     6     75    8.5     Blonde      106.25
10                 Westmalle triple   7.2     75    9.5  Trappiste   98.958333
11               Val Dieu grand cru     8     75   10.5      Brune     98.4375
12                 Li crochon brune   6.7     75    8.7      Brune    97.38806
13                          Chouffe   6.2     75      8     Blonde   96.774194
14                  Val Dieu Triple     7     75      9     Blonde   96.428571
15    Chimay grande reserve (bleue)     7     75      9  Trappiste   96.428571
16                  Gauloise blonde     5     75    6.3     Blonde        94.5
17                    Fagnes blonde     6     75    7.5     Blonde       93.75
18                           Houppe     6     75    7.5     Blonde       93.75
19                          houppe      6     75    7.5     Blonde       93.75
20                Li crochon blonde   5.5     75    6.8     Blonde   92.727273

# Top 50 du rat (à plus que 5° quand même (big up à Hunter))

In [10]:
rat = display_top(df[(df["Degree"] >= 5) & (df["Volume"] < 75) & (df["Price"] <= 2.5)])
rat = rat.sort_values(by=["Ratio", "Volume"], ascending=[False, True])
rat.head(50)

                         Name Price Volume Degree       Type       Ratio
Rank
1          Kerel Kaishaku Fût   2.5     25     15     Blonde       150.0
2                     Bush 10   2.5     33   10.5     Blonde       138.6
3                      Piraat   2.5     33   10.5     Ambrée       138.6
4                 Bush 12 Fût   2.2     25     12     Ambrée  136.363636
5                Chimay rouge   2.2     33      9  Trappiste       135.0
6     Queue de charrue triple   2.3     33      9     Blonde  129.130435
7            Westmalle triple   2.5     33    9.5  Trappiste       125.4
8     Rochefort triple extra    2.4     33      9  Trappiste      123.75
9                       Duvel   2.4     33    8.5     Blonde     116.875
10             Moinette brune   2.4     33    8.5      Brune     116.875
11    Saint Bernardus Prior 8   2.3     33      8      Brune  114.782609
12        Triple plaisir (la)   2.3     33      8     Blonde  114.782609
13                Jupiler Fût   1.2     25    5.4     Blonde       112.5
14                      Filou   2.5     33    8.5     Blonde       112.2
15             Gauloise brune   2.4     33    8.1      Brune     111.375
16    Bertinchamps triple Fût   1.8     25      8     Blonde  111.111111
17           Cuvée des trolls   2.1     33      7     Blonde       110.0
18             Chimay blanche   2.4     33      8  Trappiste       110.0
19                 Mc Chouffe   2.4     33      8      Brune       110.0
20              Saison Dupont     2     33    6.5     Blonde      107.25
21         Lupulus blonde Fût     2     25    8.5     Blonde      106.25
22             Tripick blonde   2.5     33      8     Blonde       105.6
23               Beer Lambert   2.5     33      8     Blonde       105.6
24                    Chouffe   2.5     33      8     Blonde       105.6
25                       Omer   2.5     33      8     Blonde       105.6
26       Bon secours heritage   2.5     33      8     Ambrée       105.6
27      Floreffe prima melior   2.5     33      8      Brune       105.6
28           Tête de mort Fût     2     25    8.1     Blonde      101.25
29               Triple moine   2.4     33    7.3     Blonde     100.375
30         Chouffe cherry Fût     2     25      8    Fruitée       100.0
31               Paranoia Fût     2     25      8     Blonde       100.0
32       Delirium Tremens Fût     2     25      8     Blonde       100.0
33         Pêche Mel Bush Fût     2     25      8    Fruitée       100.0
34           Delirium red Fût     2     25      8    Fruitée       100.0
35            Gauloise blonde   2.1     33    6.3     Blonde        99.0
36      Saint Idesbald blonde   2.2     33    6.5     Blonde        97.5
37            Floreffe blonde   2.2     33    6.3     Blonde        94.5
38                  xx-Bitter   2.1     33      6     Blonde   94.285714
39         Tongerlo brune nox   2.4     33    6.7      Brune      92.125
40            Kasteel red Fût   2.2     25      8    Fruitée   90.909091
41    St Hubertus Blanche Fût     2     25    7.2    Blanche        90.0
42            Chouffe blanche   2.2     33      6    Blanche        90.0
43                    Harmony   2.2     33      6     Blonde        90.0
44             Goliath blonde   2.2     33      6     Blonde        90.0
45       Cuvée des trolls Fût     2     25      7     Blonde        87.5
46                Vedette IPA   2.3     33      6     Blonde   86.086957
47           Vraie bière (la)   2.3     33      6     Blonde   86.086957
48                   Gouyasse   2.3     33      6     Blonde   86.086957
49          Li crochon blonde     2     25    6.8     Blonde        85.0
50          Rulles triple fût   2.5     25    8.4     Blonde        84.0