# Setup

In [51]:
from json import loads
import pandas as pd

def is_beer(article_name: str) -> bool:
    """
    Check if the article is a beer
    :param article_name: The name of the article
    :return: True if the article is a beer, False otherwise
    """
    banned = [
        "assiette", "plat", "régio", "cruche", "tu claques", "insigne", "verre", "mijole", "fais", "polo", "gueule",
        "t-shirt", "15n", "caca", "affond", "gobelet", "action", "souper"
        ]
    if any(article_name.lower().startswith(b) for b in banned):
        return False
    return True

# Main function

In [52]:
# Load the JSON file
json = loads(open("database.json").read())

dic = dict()
# print keys
for key, article in json["articles"]["mapValue"]["fields"].items():

    fields = article["mapValue"]["fields"]
    name = fields.get("name", {}).get("stringValue")

    if not is_beer(name):
        continue

    degree = fields.get("degree", {}).get("integerValue") or fields.get("degree", {}).get("doubleValue")

    if degree is None:
        degree = fields.get("degree", {}).get("doubleValue")

    price_out = fields.get("price_out", {}).get("doubleValue")

    if price_out is None:
        price_out = fields.get("price_out", {}).get("integerValue")

    volume = fields.get("format", {}).get("integerValue")

    if volume is None:
        volume = fields.get("format", {}).get("doubleValue")

    beer_type = fields.get("type", {}).get("stringValue")

    ratio =  (float(degree) * float(volume)) / float(price_out)

    dic[name] = {"Degree": degree, "Price": price_out, "Volume": volume, "Type": beer_type, "Ratio": ratio}

# Create a DataFrame
df = pd.DataFrame(dic).T

# Sort the DataFrame by the ratio
df = df.sort_values(by="Ratio", ascending=False)
df.to_csv("csv/ranker.csv")

# Top 20, any type of beer

In [53]:
df.head(20)

                                    Degree Price Volume       Type       Ratio
Kasteel triple                          11   2.2     33     Blonde       165.0
Bush 10                               10.5   2.2     33     Blonde       157.5
Piraat                                10.5   2.2     33     Ambrée       157.5
Kerel Kaishaku Fût                      15   2.5     25     Blonde       150.0
Corne du bois des pendus quadruple      12   2.7     33     Blonde  146.666667
Chimay rouge                             9   2.1     33  Trappiste  141.428571
Kerel Kaishaku                          15   3.5     33     Blonde  141.428571
Goliath triple                           9   2.1     33     Blonde  141.428571
Saint feuillien brune                  8.5     2     33      Brune      140.25
Rochefort 10                          11.3   2.7     33  Trappiste  138.111111
Saint Bernardus Abr 12                  10   2.4     33      Brune       137.5
Bush 12 Fût                             12   2.2     25     Ambrée  136.363636
Coucou puissant                        9.5   2.3     33     Ambrée  136.304348
Gauloise brune                         8.1   4.5     75     Blonde       135.0
Kasteel donker                          11   2.7     33      Brune  134.444444
Carolus classic                        8.5   2.1     33      Brune  133.571429
Filou                                  8.5   2.1     33     Blonde  133.571429
peak grand cru                        10.5   2.6     33      Brune  133.269231
Gulden Draak 9000                     10.5   2.6     33     Ambrée  133.269231
Rochefort 8                            9.2   2.3     33  Trappiste       132.0

# Top 20, blonde beers

In [54]:
blonde_beers = df[df["Type"] == "Blonde"]
blonde_beers.to_csv("csv/blonde_ranker.csv")
blonde_beers.head(20)

                                    Degree Price Volume    Type       Ratio
Kasteel triple                          11   2.2     33  Blonde       165.0
Bush 10                               10.5   2.2     33  Blonde       157.5
Kerel Kaishaku Fût                      15   2.5     25  Blonde       150.0
Corne du bois des pendus quadruple      12   2.7     33  Blonde  146.666667
Kerel Kaishaku                          15   3.5     33  Blonde  141.428571
Goliath triple                           9   2.1     33  Blonde  141.428571
Gauloise brune                         8.1   4.5     75  Blonde       135.0
Filou                                  8.5   2.1     33  Blonde  133.571429
Abeille                                  8     2     33  Blonde       132.0
Corne du bois des pendus 10 triple      10   2.5     33  Blonde       132.0
Triple plaisir (la)                      8     2     33  Blonde       132.0
Carolus triple d'or                      9   2.3     33  Blonde  129.130435
Moinette blonde                        8.5   2.2     33  Blonde       127.5
Duvel                                  8.5   2.2     33  Blonde       127.5
Dupont les bons voeux                  9.5   2.8   37.5  Blonde  127.232143
Chouffe houblon triple                   9   2.4     33  Blonde      123.75
Val Dieu triple                          9   2.4     33  Blonde      123.75
To touille                               9   2.4     33  Blonde      123.75
Malheur 10                              10   2.7     33  Blonde  122.222222
lupulus organicus                      8.5   2.3     33  Blonde  121.956522

# Top 20, ambrées

In [55]:
amber_beers = df[df["Type"] == "Ambrée"]
amber_beers.to_csv("csv/amber_ranker.csv")
amber_beers.head(20)

                        Degree Price Volume    Type       Ratio
Piraat                    10.5   2.2     33  Ambrée       157.5
Bush 12 Fût                 12   2.2     25  Ambrée  136.363636
Coucou puissant            9.5   2.3     33  Ambrée  136.304348
Gulden Draak 9000         10.5   2.6     33  Ambrée  133.269231
Bush 12                     12     7     75  Ambrée  128.571429
Carolus ambrio               8   2.2     33  Ambrée       120.0
Troubadour magma             9   2.5     33  Ambrée       118.8
Satan red                    8   2.3     33  Ambrée  114.782609
Bon secours heritage         8   2.3     33  Ambrée  114.782609
Maredsous 10                10   6.6     75  Ambrée  113.636364
Quintine ambrée            8.5   2.5     33  Ambrée       112.2
Divine (la)                8.5   2.6     33  Ambrée  107.884615
Kwak                       8.4   2.6     33  Ambrée  106.615385
Caracole                   7.5   2.4     33  Ambrée     103.125
Forgeronne                   6     2     33  Ambrée        99.0
St Hubertus Ambrée         7.2   2.5     33  Ambrée       95.04
Gauloise ambrée            5.6     2     33  Ambrée        92.4
Philomène hoptimale        7.2   2.6     33  Ambrée   91.384615
Delirium argentum            7   2.6     33  Ambrée   88.846154
Queue de charrue ambrée    5.6   2.2     33  Ambrée        84.0

# Top trappistes

In [56]:
trapist_beers = df[df["Type"] == "Trappiste"]
trapist_beers.to_csv("csv/trapist_ranker.csv")
trapist_beers.head(20)

                              Degree Price Volume       Type       Ratio
Chimay rouge                       9   2.1     33  Trappiste  141.428571
Rochefort 10                    11.3   2.7     33  Trappiste  138.111111
Rochefort 8                      9.2   2.3     33  Trappiste       132.0
Chimay blanche                     8     2     33  Trappiste       132.0
Rochefort triple extra             9   2.3     33  Trappiste  129.130435
Rochefort 6                      7.5   2.1     33  Trappiste  117.857143
Westmalle double                   7     2     33  Trappiste       115.5
Chimay grande reserve (bleue)      9     6     75  Trappiste       112.5
Westmalle triple                 9.5   6.4     75  Trappiste  111.328125
Chimay Cinq Cents(gde blanc)       8   5.5     75  Trappiste  109.090909
Chimay première (rouge)            7     5     75  Trappiste       105.0
Chimay bleue                       9     3     33  Trappiste        99.0
Chimay 150                        10   3.5     33  Trappiste   94.285714
Orval                            6.2     3     33  Trappiste        68.2
Chimay dorée                     4.8   2.5     33  Trappiste       63.36

# Top 20, brunes

In [57]:
brown_beers = df[df["Type"] == "Brune"]
brown_beers.to_csv("csv/brown_ranker.csv")
brown_beers.head(20)

                          Degree Price Volume   Type       Ratio
Saint feuillien brune        8.5     2     33  Brune      140.25
Saint Bernardus Abr 12        10   2.4     33  Brune       137.5
Kasteel donker                11   2.7     33  Brune  134.444444
Carolus classic              8.5   2.1     33  Brune  133.571429
peak grand cru              10.5   2.6     33  Brune  133.269231
Silly Scotch                   8     2     33  Brune       132.0
Straffe Hendrik quadrupel     11   2.8     33  Brune  129.642857
Malheur 12                    12   3.1     33  Brune  127.741935
Moinette brune               8.5     5     75  Brune       127.5
Lupulus brune                8.5     5     75  Brune       127.5
Saint Bernardus Prior 8        8   2.1     33  Brune  125.714286
Val Dieu brune                 8   2.1     33  Brune  125.714286
Lupulus Hibernatus             9   5.5     75  Brune  122.727273
Black albert                  13   3.5     33  Brune  122.571429
Charles Quint rouge rubis    8.5   2.3     33  Brune  121.956522
Barbar Bok                   8.5   2.3     33  Brune  121.956522
Ottignies brune                7   1.9     33  Brune  121.578947
Barbe noire                    9   2.5     33  Brune       118.8
Gembloux kilt                  9   2.5     33  Brune       118.8
Mc Chouffe                     8   2.3     33  Brune  114.782609

# Top 20, fruitées

In [58]:
fruit_beers = df[df["Type"] == "Fruitée"]
fruit_beers.to_csv("csv/fruit_ranker.csv")
fruit_beers.head(20)

                         Degree Price Volume     Type       Ratio
Queue de charrue rouge      8.7   2.3     33  Fruitée  124.826087
Gauloise fruits rouges      8.2   2.2     33  Fruitée       123.0
Frambush                    8.5   2.4     33  Fruitée     116.875
Barbar Rouge                  8   2.4     33  Fruitée       110.0
Val dieu fruitee              9   2.7     33  Fruitée       110.0
Tête de mort red            8.2   2.7     33  Fruitée  100.222222
Pêche Mel Bush Fût            8     2     25  Fruitée       100.0
Chouffe cherry Fût            8     2     25  Fruitée       100.0
Delirium red Fût              8     2     25  Fruitée       100.0
Bon secours myrtille          7   2.4     33  Fruitée       96.25
Kasteel red Fût               8   2.2     25  Fruitée   90.909091
Lindemans tarot d'or          8   2.2     25  Fruitée   90.909091
Lindemans tarot noir          8   2.2     25  Fruitée   90.909091
Kasteel rubus                 7   2.6     33  Fruitée   88.846154
Fagnes blood orange           7   2.6     33  Fruitée   88.846154
Atrium Avalanche            6.8   2.6     33  Fruitée   86.307692
Leffe ruby                    5     2     33  Fruitée        82.5
Delirium red                  8   7.5     75  Fruitée        80.0
Lindemans tarot d'or Fût      8   2.5     25  Fruitée        80.0
Kasteel rubus Fût             7   2.2     25  Fruitée   79.545455

# Top blanches

In [59]:
white_beers = df[df["Type"] == "Blanche"]
white_beers.to_csv("csv/white_ranker.csv")
white_beers.head(20)

                        Degree Price Volume     Type      Ratio
Bon secours prestige         9   2.5     33  Blanche      118.8
St Hubertus Blanche Fût    7.2     2     25  Blanche       90.0
Chouffe blanche              6   2.2     33  Blanche       90.0
Blanche de Bruxelles       4.5   1.8     33  Blanche       82.5
Peak blanche IPA           6.5   2.6     33  Blanche       82.5
St bernardus witbier       5.5   2.5     33  Blanche       72.6
Bornier vice                 6   2.9     33  Blanche  68.275862
Troublette                 5.6   2.8     33  Blanche       66.0
Blanche de Namur           4.5   1.8     25  Blanche       62.5
Arsenal                    5.4   2.9     33  Blanche  61.448276